.input-poeng {
    width: 4rem!important;
    outline: none;
    border: none;
    margin-right: 5px;
    border-radius: 4px;
    padding: 14px 20px;
}

.container-timer {
    /* position: absolute;
    top:  1rem;
    left: 1rem; */
    margin: 0 auto;
    width: fit-content;
}